<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>5C8A50CA-FDB9-4993-A2AB-230C2385203D</string>
	<key>connections</key>
	<dict>
		<key>0D8F6DBB-06B3-4B4C-A58B-BC6B36DD7534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C8A50CA-FDB9-4993-A2AB-230C2385203D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C8A50CA-FDB9-4993-A2AB-230C2385203D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark</string>
	<key>description</key>
	<string>Get the restaurant name by id</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EZTABLE Restaurant id</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>ez id</string>
				<key>runningsubtext</key>
				<string>Search...</string>
				<key>script</key>
				<string>php main.php "{query}"</string>
				<key>title</key>
				<string>EZTABLE Restaurant id</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.eztable.com/restaurant/{query}/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5C8A50CA-FDB9-4993-A2AB-230C2385203D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ez search</string>
				<key>runningsubtext</key>
				<string>Search...</string>
				<key>script</key>
				<string>php search.php "{query}"</string>
				<key>title</key>
				<string>EZTABLE Restaurant keyword</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D8F6DBB-06B3-4B4C-A58B-BC6B36DD7534</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D8F6DBB-06B3-4B4C-A58B-BC6B36DD7534</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>5C8A50CA-FDB9-4993-A2AB-230C2385203D</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.eztable.com/</string>
</dict>
</plist>
